<div class="container-fluid main">

  <div>
    <h3  class="title">WDI4 SURVEY</h3>
  </div>
  <hr class="hr">

  <form class="" action="/survey2" method="post">
  <% survey.forEach(function(surveyElem, index) { %>

    <% if(surveyElem.question_type === "select image") { %>

    <table class="table">

      <thead>
        <tr>
            <th colspan = <%= surveyElem.options.length %>>
              <h4><%= surveyElem.question %></h4>
            </th>
        </tr>
      </thead>

      <tbody>

          <tr>
            <% surveyElem.options.forEach(function(optElem, qindex) { %>
              <td class="radiobox" id="rdb<%= qindex %>" align="center">
              <label>
                <input class="selectImage" type="radio" name="<%= surveyElem.qn_num %>" value="<%= optElem.value %>">
                <img class="image" src="<%=optElem.image%>" id="<%=optElem.text%>"><br>
              </label>
              </td>
            <% }) %>
          </tr>

      </tbody>

    </table>

  <hr class="spacing">
  <% } else if(surveyElem.question_type === "with image") { %>

    <h4><%= surveyElem.question %></h4>
    <img src="<%= surveyElem.image %>" id="<%= surveyElem.qn_num %>">

    <table class="table classSurveyTable">
      <tr>
        <% surveyElem.options.forEach(function(optElem, index) { %>
          <td align="center">
            <label class="radio-inline">
              <input type="radio" name="<%= surveyElem.qn_num %>" value="<%= optElem.value %>"><%= optElem.text %>
            </label>
          </td>
        <% }) %>
      </tr>
    </table>

  <hr class="spacing">

  <% } else if(surveyElem.question_type === "select text") { %>

    <h4><%= surveyElem.question %></h4>

    <table class="table classSurveyTable">
      <tr>
        <% surveyElem.options.forEach(function(optElem, index) { %>
          <td align="center">
            <label class="radio-inline">
              <input type="radio" name="<%= surveyElem.qn_num %>" value="<%= optElem.value %>"><%= optElem.text %>
            </label>
          </td>
        <% }) %>
      </tr>
    </table>


  <hr class="spacing">

  <% } %><!-- end of if else function -->

<% }) %> <!-- end of for each survey function -->

<button type="submit" class="btn btn-success"> tell us your thoughts ; )</button>

</form> <!-- end of form -->

</div> <!--end of container-->
