<div class="container-fluid main">

  <div>
    <h3  class="title">WDI4 SURVEY</h3>
  </div>
  <hr class="hr">

  <form class="" action="/survey2" method="post">
  <% survey.forEach(function(surveyElem, index) { %>

    <% if(surveyElem.question_type === "select image") { %>

    <table class="table">

      <thead>
        <tr>
            <th colspan = <%= surveyElem.options.length %>>
              <h4><%= surveyElem.question %></h4>
            </th>
        </tr>
      </thead>

      <tbody>

          <tr>
            <% surveyElem.options.forEach(function(optElem, qindex) { %>
              <td class="radiobox" id="rdb<%= qindex %>">
              <label>
                <input type="radio" name="<%= surveyElem.qn_num %>" value="<%= optElem.value %>">
                <img class="image" src="<%=optElem.image%>"><br>
              </label>
              </td>
            <% }) %>
          </tr>

      </tbody>

    </table>

  <hr class>
  <% } else if(surveyElem.question_type === "with image") { %>

    <h4><%= surveyElem.question %></h4>
    <img src="<%= surveyElem.image %>">
      <% surveyElem.options.forEach(function(optElem, index) { %>
        <div class="opt" id="opt<%= optElem.value %>">
          <%= optElem.text %>
          <input type="radio" name="<%= surveyElem.qn_num %>" value="<%= optElem.value %>">
        </div>
      <% }) %>
  <hr class>

  <% } else if(surveyElem.question_type === "select text") { %>
    
    <h4><%= surveyElem.question %></h4>
      <% surveyElem.options.forEach(function(optElem, index) { %>
        <div class="opt" id="opt<%= optElem.value %>">
          <%= optElem.text %>
          <input type="radio" name="<%= surveyElem.qn_num %>" value="<%= optElem.value %>">
        </div>
      <% }) %>
  <hr class>

  <% } %><!-- end of if else function -->

<% }) %> <!-- end of for each survey function -->

<button type="submit" class="btn btn-default">;)</button>

</form> <!-- end of form -->

</div> <!--end of container-->
