<div class="container-fluid main">

  <div>
    <h3  class="title">TAKE SURVEY</h3>
  </div>
  <hr class="hr">

  <form class="" action="/surveys" method="post">
  <% survey.forEach(function(surveyElem, index) { %>

    <% if(surveyElem.type == "radio") { %>

    <table class="table">
      <thead>
        <tr id="qn_container">
          <th colspan = <%=surveyElem.options.length + 1 %>>
            <h4><%= surveyElem.question %></h4>
          </th>
        </tr>

        <tr>
          <th></th>
        <% surveyElem.options.forEach(function(optElem, index) { %>
          <th class="opt" id="opt<%= optElem.value %>"><%= optElem.text %></th>
        <% }) %>
        </tr>
      </thead>

      <tbody>

        <% brands.forEach(function(brandElem, index) { %>
          <tr>
            <td class="brandcell" id="<%= brandElem.name %>">
              <%= brandElem.name %>
            </td>

            <% surveyElem.options.forEach(function(optElem, index) { %>
              <td class="radiobox" id="rdb<%= index %>">
              <input type="radio" name="<%= brandElem.name %>" value="<%= optElem.value %>">
              </td>
            <% }) %>

          </tr>
        <% }) %>

      </tbody>
    </table>
  <hr class>
<% }}) %> <!-- end of for each survey function -->
</form> <!-- end of form -->
</div> <!--end of container-->
