<div class="container-fluid main">

  <div>
    <h3  class="title">TAKE SURVEY</h3>
  </div>
  <hr class="hr">

  <form class="" action="/surveys" method="post">
  <% survey.forEach(function(surveyElem, index) { %>

    <% if(surveyElem.type == "radio") { %>

    <table class="table">
      <thead>
        <tr id="qn_container">
        <th colspan = <%=surveyElem.options.length + 1 %>>
          <h4><%= surveyElem.question %></h4>
        </th>
        </tr>
        <tr>
          <th></th>
        <% surveyElem.options.forEach(function(optElem, index) { %>
          <th class="opt" id="opt<%= optElem.value %>"><%= optElem.text %></th>
        <% }) %>
        </tr>
      </thead>

      <tbody>

        <% brands.forEach(function(brandElem, index) { %>
          <tr>
            <td class="brandcell" id="<%= brandElem.name %>">
              <%= brandElem.name %>
            </td>

            <% surveyElem.options.forEach(function(optElem, index) { %>
              <td class="radiobox" id="rdb<%= index %>">
              <input type="radio" name="<%= brandElem.name %>" value="<%= optElem.value %>">
              </td>
            <% }) %>

          </tr>
        <% }) %>

      </tbody>
    </table>

    <% } else { %>

    <table class="table">

      <div class="survey_container">

        <div id="b_container">
          <% brands.forEach(function(brandElem, index) { %>
            <div class="brandrow" id="<%= brandElem.name %>"><%= brandElem.name %></div>
          <% }) %> <!-- end of brand name loop -->
        </div>

        <div id="s_container">
          <% brands.forEach(function(brandElem, index) { %>

            <div class="sliderrow" id="<%= brandElem.name %>_slider">
              <form onsubmit="return false" oninput="level.value = flevel.valueAsNumber">
                <input name="flevel" id="flying" type="range" min="0" max="10" value="5" step="1">
                <output for="flying" name="level">5</output>
              </form>
            </div>

          <% }) %> <!-- end of for each brand loop -->
        </div> <!-- end of s_container -->

      </div> <!-- end of survey_container -->

    </table>

  <% } %> <!-- end of if else -->
<% }) %> <!-- end of for each survey function -->
</form> <!-- end of form -->
</div> <!--end of container-->
